@model CategoryUpdateDTO


@{
    ViewData["Title"] = "Update Category";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Update Game</h4>
        </p>

       <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit" asp-route-id="@Model.Id">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                             <div class="form-group">
                                <label asp-for="ProductsId" class="control-label"></label>
                                <select asp-for="ProductsId" class="form-control" asp-items="ViewBag.Products" multiple></select>
                                <span asp-validation-for="ProductsId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>